        <nav class="navbar navbar-default" role="navigation">
    	  <div class="container">
		    <!-- Toggle -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <div class="navbar-brand navbar-brand-centered"><strong>Hoteles</strong></div>
		    </div><!-- navbar header -->

		    <!-- Links -->
		    <div class="collapse navbar-collapse" id="navbar-brand-centered">
		      <ul class="nav navbar-nav">
		        <li><a href="#/home">Listar</a></li>
		        <li><a href="#/create">Agregar</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="http://www.linkedin.com/in/jcguerra" target="_blank">Juan Carlos Guerra</a></li>
		      </ul>
		    </div><!-- navbar collapse -->
		  </div><!-- container -->
		</nav><!-- navbar -->